<div class="w3top-nav">	
    <div class="w3top-nav-left">	
        <h1 style="color:white;"><a href="/" style="color:#FFF;"><img src="/static/images/mp3logo.png" alt="MP3drive.co" style="float:left;"/>MP3drive.co</a></h1>
    </div>	
    <div class="w3top-nav-right">	
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/search" class="active">Search</a></li>
            <li><a href="/converter">Converter</a></li>  
            <li><a href="#">Blog</a></li>
        </ul> 
    </div>	

</div>	